html, body {
	font-family: 'Helvetica', sans-serif;
	height: 100%;
	margin: 0;
	padding: 0;
}

#map {
	height: 100%;
	width: 70%;
	position: absolute;
	top: 0;
	right: 0;
}

span {
	height: 100%;
	width: 100%;
	border: 1px solid red;
}