html, body {
	font-family: 'Helvetica', sans-serif;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #e88a85;
}

h1 {
	width: 100%;
	color: #c43730;
	font-size: 24px;
	overflow: wrap;
	word-wrap: normal;
	text-align: center;
	background-color: #e88a85;
	margin: 0;
	padding: 20px 0;
}

#map {
	height: 100%;
	width: 95%;
	position: absolute;
	top: 0;
	right: 0;
}

#container {
	/*width: 30%;*/
	width: 5%;
	text-align: center;
	background: #e88a85;
	padding-top: 20px;
	display: none;
}

.fa-bars {
	text-align: right;
    /*display: block !important;*/
    padding-right: 20px;
    color: #c43730;
    background-color: #e88a85;
    width: 3%;
    font-size: 24px !important;
    padding-top: 10px;
}

.fa-times {
	text-align: right;
    display: none;
    padding-right: 20px;
    color: #c43730;
    background-color: #e88a85;
}

span.search {
	color: #c43730;
}

div.listcontainer {
	width: 100%;
}

ul {
	padding-left: 0;
	width: 100%;
}

ul li {
	list-style-type: none;
	background: #e88a85;
	color: #c43730;
	width: 100%;
	border: medium none;
	font-size: 16px;
	padding: 8px 0px;
}

ul a {
	text-decoration: none;
}

input {
	font-size: 20px;
	opacity: 0.5;
	color: #c43730;
	border: none;
	border-radius: 5px;
	line-height: 35px;
	width: 260px;
}

#no-possibilities {
	color: red;
}

.open-menu {
	display: block !important;
	width: 30% !important;
	z-index: 10;
	position: absolute;
	left: 5%;
	height: 100%;
}

.smaller-map {
	width: 95% !important;
	position: absolute;
	top:0;
	right: 0;

}

#close {
	display: none;
	padding: 10px;
	font-size: 25px;
}

.no-see-it {
	display: none !important;
}

.see-it {
	display: inline-block !important;
}

div.icons {
	display: block !important;
    width: 30% !important;
    z-index: 10;
    position: absolute;
    /* left: 5%; */
    /* top: 25px; */
    height: 100%;
}
/*input[type="button"] {
	background: #e88a85;
	color: #c43730;
	width: 100%;
	border: medium none;
	font-size: 16px;
	padding: 15px 5px;
}

input[type="button"]:hover {
	background: #c43730;
	color: #ffffff;
	cursor: pointer;
	transition: .5s all;
}*/




